
.nbmf {
	direction: rtl;
	text-align: right;
	margin: 30px 10px 60px 10px;
}
.nbmf input {
	font-size: 14px;
	/*width: 48%;*/
	margin: 10px 5px;
	float: right;
}
.nbmf input[type=file] {
	width: auto;
	display: block;
}
#inDiv_nbmf_seller_name {
	clear: both;
}
#nbmf_seller_cell,
#nbmf_seller_telegram,
#nbmf_seller_instagram,
#nbmf_seller_website {
	text-align: center;
	width: 238px;
	direction: ltr;
}
.nbmf textarea {
	width: 100%;
	height: 100px;
	margin: 5px;
	padding: 10px;
}
#inDiv_nbmf_text_vijegi,
#inDiv_nbmf_text_sharayet,
#inDiv_nbmf_text_tozihat {
	margin: 25px 10px;
}
#inDiv_nbmf_text_vijegi > span,
#inDiv_nbmf_text_sharayet > span,
#inDiv_nbmf_text_tozihat > span {
	display: inline-block;
	margin: 5px;
}
#nbmf_name {
	width: 98%;
}
#nbmf_cost {
	width: 135px !important;
}
#nbmf_cost_orig {
	width: 135px !important;
}
#nbmf_date_end {
	
}
#nbmf_date_end_clock {
	width: 66px !important;
	position: relative; left: -1px;
}
#nbmf_text_vijegi {
	
}
#nbmf_text_sharayet {
	
}
#nbmf_text_tozihat {
	
}
#nbmf_pic {
	
}
#nbmf_seller_name {
	width: 316px;
}
#nbmf_seller_address {
	width: 98%;
}
#nbmf_seller_tell {
	position: relative; left: -1px;
}
#inDiv_nbmf_submit {
	text-align: center;
}
#nbmf_submit {
	margin: 10px auto !important;
	float: none;
}

.nbmf .topbox {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	/*overflow: hidden;*/
	height: 440px;
}
.nbmf .topbox * {
	vertical-align: top;
}
.nbmf .topbox:nth-child(2) {
	text-align: left;
}
.nbmf .topbox:nth-child(2) > div {
	display: inline-block;
	text-align: left;
	border: 1px solid #999;
	margin: 10px 0 10px 0;
}

.nbmf .divider {
	margin-bottom: 30px !important;
    height: 30px !important;
}
.nbmf select {
	font-size: 14px !important;
    border-radius: 0px !important;
    margin: 5px 6px;
    font-family: BYekan, Tahoma;
    padding: 7px 12px 5px 0px;
    line-height: 20px;
    width: 98%;
}
.nbmf select ,
.nbmf option {
	font-family: BYekan, Tahoma;
}

.nbmf .position_select select {
	width: 153.30px;
}
.nbmf .position_select div {
	display: inline-block;
}

#nbmf_text_vijegi_ifr ,
#nbmf_text_sharayet_ifr ,
#nbmf_text_tozihat_ifr {
	height: 200px !important;
}
#nbmf_count_of_copon {
	direction: ltr;
	text-align: center;
	margin: auto;
	clear: both;
	float: none;
	display: block;
}

#inDiv_nbmf_thelastone {
	margin: 0 30px;
}
#inDiv_nbmf_thelastone input[type="checkbox"] {
	margin: -4px 0 0 0 !important;
}



