
@font-face {
	font-family: 'Raleway';
	src: url(font-raleway/Raleway.eot) format('eot'),
		url(font-raleway/Raleway.ttf) format('truetype'),
		url(font-raleway/Raleway.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

