
@font-face {
	font-family: 'IRANSans';
	src: url(font-IRANSans/IRANSans.eot) format('eot'),
		url(font-IRANSans/IRANSans.woff) format('woff'),
		url(font-IRANSans/IRANSans.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}