
.userpanel_menu {
	display: block;
	direction: rtl;
	background-color: white;
	width: 100%;
	border: 1px solid #d9d9d9;
	margin-bottom: 20px;
	border-radius: 4px;
}

.userpanel_menu_profile_pic {
	margin-bottom: 5px !important;
}
.userpanel_menu > img {
	border-radius: 4px;
	border: 1px solid gray;
    border-right: 3px solid gray;
}

.userpanel_menu > a {
	position: relative;
	display: block;
    color: #404040;
    white-space: nowrap;
    font-size: 12px;
    line-height: 38px !important;
    height: 38px;
    border-bottom: 1px solid #ededed;
    border-right: 3px solid gray;
    transition: all 0.3s;
}
.userpanel_menu > a:last-child {
	border-bottom: 0px;
}
.userpanel_menu > a:hover {
	color: white;
	background-color: #E22697;
	border-right-color: #E22697;
}
.userpanel_menu > a:before {
	text-align: center;
	background-color: #ededed;
	width: 38px;
	height: 38px;
	line-height: 38px !important;
	display: inline-block;
    font: normal 20px FontAwesome;
    padding: 0;
    margin: 0 0 0 10px !important;
    border-left: 1px solid #ededed;
    transition: all 0.3s;
}

.userpanel_menu > a:nth-child(1):before {
	content: "\f015";
}
.userpanel_menu > a:nth-child(2):before {
	content: "\f00b";
}
.userpanel_menu > a:nth-child(3):before {
	content: "\f0d6";
}
.userpanel_menu > a:nth-child(4):before {
	content: "\f0ca";
}
.userpanel_menu > a:nth-child(5):before {
	content: "\f007";
}
.userpanel_menu > a:nth-child(6):before {
	content: "\f084";
}
.userpanel_menu > a:nth-child(7):before {
	content: "\f08b";
}

.userpanel_menu > a:hover:before {
	background-color: black;
}

.userpanel_menu > a > span {
	position: absolute; top: 13px; right: 47px;
}

.userpanel_menu > a.current {
	box-shadow: 0 0 40px #f8f8f8 inset;
}


.profile_avatar > img {
	border-radius: 4px 4px 0 0;
	border: 1px solid #d9d9d9;
    border-right: 3px solid gray;
    width: 169px;
    height: auto;
}


